MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=huayue_life_mvp
MYSQL_USER=huayue
MYSQL_PASSWORD=change-me
MYSQL_PORT=3307
REDIS_PORT=6380
TZ=Asia/Ho_Chi_Minh

SUPER_ADMIN_USERNAME=peter
SUPER_ADMIN_PASSWORD_HASH=$2b$12$replace-with-bcrypt-hash
WECHAT_MINIAPP_ENV_VERSION=trial
